@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'variables';

:root {
  color-scheme: dark light;
  color: $primary-color;
  background-color: $bg-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
  }
}
