// variables

// fonts
$font-family: 'Roboto', sans-serif;
$font-family-alt: 'Roboto Condensed', sans-serif;
$font-family-code: 'Roboto Mono', monospace;

// colors
$primary-color: rgb(122, 122, 122);
$secondary-color: #e8adf8;
$tertiary-color: #00f;

//hovers
$secondary-color-hover: #ce77fc;

// background color
$bg-color: rgb(243, 243, 243);
$bg-nav: rgb(255, 255, 255);

// font sizes
$font-size: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;

// max-width
$max-width: 1280px;

//padding
$padding: 1rem;

// Language: scss
