// variables

// fonts
$font-family: 'Roboto', sans-serif;
$font-family-alt: 'Roboto Condensed', sans-serif;
$font-family-code: 'Roboto Mono', monospace;

// colors
$primary-color: rgb(122, 122, 122);
$secondary-color: #e8adf8;
$tertiary-color: #00f;
$dark: #1e1e1e;
$light: #f5f5f5;
$white: #fff;

//hovers
$secondary-color-hover: #ce77fc;

// background color
$bg-color: #f3f3f3;
$bg-nav: rgb(255, 255, 255);

// font sizes
$font-size: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// border radius
$borderRadius: 12px;

// spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// max-width
$max-width: 1280px;

//padding
$padding: 1rem;

//box-shadow
$box-shadow-small: 0px 0px 8px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0px 0px 16px rgba(0, 0, 0, 0.1);
$box-shadow-large: 0px 0px 32px rgba(0, 0, 0, 0.1);

//transition
$transition-default: all 0.3s ease-in-out;
$transition-fast: all 0.1s ease-in-out;
$transition-slow: all 0.5s ease-in-out;

//animation
$animation-default: all 0.3s ease-in-out;
$animation-fast: all 0.1s ease-in-out;
$animation-slow: all 0.5s ease-in-out;

// Language: scss
